*{
    margin: 0;
    padding: 0;
}
.nav-div {
    width: 100%;
    display: flex;
    background-color:red;
}
.nav-div div{
    display: inline-flex;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    -webkit-appearance: button;
    justify-content: center;
    
}
.nav-div div:hover{
    background-color: darkred;
}

.cards-class{
    justify-content: space-around;
    position: relative;
    
}
.card{
    border: 1px solid black;
    width: 30%;
    display: inline-block; 
    
}
.card img{
    display: flex;
    border: 1px solid  black;
    width: 100%;
    box-sizing: border-box;
    
}
h3{
    color: black;
    text-align: center;

}
html,body{
    height: 100%;
}

#container{
    min-height: 50%;


}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: black;
    position: relative; 
    height: 100px;
    margin-top: -100px;
    clear: both;
}
p{
    color: white;
}
h1{
    text-align: center;
}
